@import "./vars.module.sass"
@import ./CellInput.module
@import ./Cell.module

.columns
    display: flex
    // flex-direction: row
    flex-flow: row nowrap
    overflow: hidden
    height: 100%
    :nth-child(n)

.column
    // overflow: hidden
    display: flex
    flex-flow: column nowrap
    height: inherit
    // background-color: #fff
    width: stretch
    box-sizing: border-box
    border-left: 2px
    border-right: 2px
    border-bottom: 0px
    border-top: 0px
    border-style: dashed
    border-color: #576574
    border-image: url("../images/border-image.png") 1 round

.column:first-child
    border-left: none
    .column-header
        margin-left: 0px
    .column-content
        margin-left: 0px

.column:last-child
    border-right: none
    .column-header
        margin-right: 0px
    .column-content
        margin-right: 0px

$elements: 15
@for $i from 0 to $elements
    .column:nth-child(#{$i})
        background-color: hsl( $i * 30, 80, 40)

.column-header
    height: 40px
    width: 100%
    background-color: black
    margin-left: -4px
    padding: 0px 2px
    background-color: #10AC84
    display: flex
    justify-content: center
    align-items: center
    .column-title
        @include text-md
        color: white
        text-align: center
        font-family: Josefin Slab
        font-weight: 700
        justify-content: center

.column-button
    @include text-sm
    background-color: #C8D6E5
    height: 40px
    width: 100%
    border: none
    color: black
    font-weight: 700
    font-family: Josefin Slab
    box-sizing: border-box
    &:active
        border-bottom: 3px solid black

.wait-for-start
    margin-top: 40px
    background: rgba(255,255,255,0.6)
    display: flex
    justify-content: center
    position: absolute
    height: calc( 100% - 40px )
    width: 100%
    h1
        @include main-font
        @include text-lg