
@import "./vars.module.sass"
@import "~include-media/dist/_include-media"
$margin: 10px

.main
    background-color: #222F3E
    width: fit-content
    min-width: 100vw
    max-height: 100%
    height: 100vh
    // height: -webkit-fill-available
    margin: 0
    display: flex
    // @include media("portrait")
    //     transform: rotate(-90deg)
    //     transform-origin: left top
    //     width: 100vh
    //     height: 100vw
    //     overflow-x: hidden
    //     position: absolute
    //     top: 100%
    //     left: 0

.container
    padding: $margin
    flex-direction: row
    display: flex
    width: 100%
    // width: calc( 100% - $margin*2 )
    // height: calc( 100% - $margin*2 )

.main-panel
    width: 100%
    box-sizing: border-box
    margin-left: $margin
    border: 5px solid #10AC84
    position: relative
