@import "./vars.module.sass"
.container
  @include text-md
  margin: 0
  width: 100vw
  height: 100vh
  background-image: url("../images/front-page.svg")
  background-size: cover
  background-position: center top
  background-repeat: no-repeat
  display: flex
  justify-content: center
  // overflow: hidden
  // align-items: center
  // position: absolute

.modal
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  z-index: 100
  width: 100vw
  height: 100vh
