@import "./vars.module"

.container
    background: rgba(34, 47, 62,1 )
    color: white
    margin: auto
    @include main-font
    @include text-md
    padding: 10px
    height: 650px
    position: relative

.header

.content
    display: flex
    flex-direction: row
.footer
    position: absolute
    bottom: 0
    width: calc( 100% - 20px )
.column
    display: flex
    flex-flow: column
    height: 100%

.inputContainer
    @include text-sm
    @include main-font
    padding: 5px
    display: flex
    flex-flow: row
    align-items: center
    margin: 10px
    justify-content: space-between
    font-weight: 700
    // width: 
    label
        color: black
        // align-self: flex-start
        margin: 0 10px
        width: 50%
        white-space: nowrap
    input
        width: -webkit-fill-available
        box-sizing: border-box
        // margin: 0 10px
        &[type="text"]
            @include main-font
            @include text-sm
            font-weight: 700
            background: none
            border: none
            outline: none
            color: black
            border-bottom: 3px solid black
            &:focus-within
                // border: none
            &:active
                // border: none
        &[type="range"]
            accent-color: #341F97
        &[type="submit"]
            @include main-font
            @include text-sm
            font-weight: 700
            color: black
            background: none
            outline: none
            border: none
            border-bottom: 3px solid transparent
            &:active
                border-bottom: 3px solid black
    button
        margin: 0

    h3
        @include main-font
        @include text-sm
        color: black

$elements: 15
@for $i from 0 to $elements
    .inputContainer:nth-child(#{$i})
        background-color: hsl( 100 + $i * 30, 95, 65)
